.ti-progress-container {
    padding: 20px 90px;
}

.progress-percentage {
    display: block;
    margin: 10px;
    color: white;
    text-align: center;
    .progress {
        margin-top: 20px;
    }
}

.timeline-pane {
    background-color: rgb(66, 66, 66);
    
    h1 {
        color: white;
        padding: 6px 10px;
        font-weight: normal;
    }
    
    a.ti-credits {
        text-decoration: none;
        -webkit-transition: background-color 0.6s;
        display: inline;
        color: #444;
        background-color: #999;
        position: absolute;
        width: 70px;
        margin-left: 790px;    
        height: 22px;
        text-align: center;
        line-height: 22px;
        &:hover {
            color: black;
            background-color: #ccc;
        }
    }
}

/* PEOPLE COLUMN */
.ti-people-title,
.ti-tags .ti-title span,
.ti-timeline-title {
    font-size: 1.5em;
    color: white;
}

$pep-height: 40px;
$pep-width: 50px;
.ti-people-picture {
    width: $pep-width;
    height: $pep-height;
    text-align: center;

    div {
        
        width: $pep-width;
        height: $pep-height;
        min-height: $pep-height;
        display: table-cell;
        vertical-align: middle;

        img {
            max-height: $pep-height;
            max-width: $pep-width;
            vertical-align: middle;
        }
    }    
}

.ti-people {
    width: 180px;
    li {
        display: block;
        height: $pep-height;
        margin-bottom: 4px;
    }
    li>div {
        float: left;
        height: $pep-height;
        border: 0px;
    }
    .ti-people-title {
        height: 30px;
    }
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
   }
}

.ti-people-color {
    width: 10px;
}

.ti-people-item {
    cursor: pointer;
    -webkit-transition: background-color 0.6s;
	background-color: rgb(151, 151, 151);

    &.active {
    	background-color: rgb(222, 222, 222);
    }
}

.ti-people-name {
	width: 115px;

    font-size: 1.1em;
    p {
    	padding: 1px 5px;
    }
}

/* TIMELINE */ 

.ti-timeline {
	margin-left: 260px;
	height: 290px;
    width: 600px;
}

.ti-timeline-title {
	height: 25px;
}
.ti-title-name {
	display: inline;
	float: left;
}
.ti-timeline-title ul {
	list-style: none;
	float: right;
}
.ti-timeline-title ul li {
	display: inline;
	color: #aaa;
}
.ti-timeline-title ul li.selected {
	color: white;
}

.ti-left-col {
    width: 250px;
    display: block;
    float: left;
}


/* TAGS */

.ti-tags {
    margin-top: 15px;

    .ti-tag {
        cursor: pointer;
    }
}

a.ti-reset-button {

    position: absolute;
    margin-left: 209px;
    margin-top: -6px;
    width: 40px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    padding: 0px 5px;
    color: #aaa;
    display: none;
        
    &.active {
        -webkit-transition: background-color 0.6s;
        display: inline;
        color: #444;
        background-color: #aaa;
            
        &:hover {
            color: white;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.ti-title {
    display: block;
}
.ti-tag {
    display: inline-block;
    padding: 1px 7px;
    margin: 3px;
    color: black;
    -webkit-transition: background-color 0.6s;
    background-color: rgb(151, 151, 151);

    &.active {
        background-color: white;
    }
}

.ti-left-col {
    padding: 1px 4px;
}

.ti-annotations .slot, .ti-left-col {
    -webkit-transition: opacity 2s;
    opacity: 1.0;
    &.ti-invisible {
        opacity: 0;
    }
}

/* ANNOTATIONS */

.ti-annotations {
    margin-left: 260px;
    height: 400px;

    .slots-header {
        width: 600px;
        margin-top: -6px;
        
        table {
            width: 600px;
            text-align: center;
            color: #dedede;
            font-size:0.9em;
            margin-bottom: 1px;
            font-decoration: italic;
            
            td.ti-month-0 {
                background-color: rgba(255,255,255,0.1);
                border-right: 1px solid rgb(66, 66, 66);
            }
            td.ti-month-1 {
                background-color: rgba(255,255,255,0.15);
                border-left: 1px solid rgb(66, 66, 66);
            }
            
        }
    }
}


.ti-annotations .slot {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
}

/* Position 30 slots from left to right */
@for $i from 1 through 30 {
    .ti-annotations .slot.slot-#{$i} { margin-left : #{$i*20}px; }
}


.ti-ann-item {
    
    -webkit-transition: opacity 0.6s;
    z-index: 10; position: relative;
    
    &.collapsed {
	    width: 20px;
        z-index: 0;
        
        &:hover {
            z-index: 1000;
        }
        .box {
            display: block;
            width: 19px;
            height: 19px;
            &:hover {
                -webkit-transition: 
                    width 0.3s,
                    height 0.3s,
                    margin 0.3s,
                    border 0.3s;
    
                z-index: 1000;
                width: 29px;
                height: 29px;
                margin-left: -6px;
                margin-right: -3px;
                margin-top: -6px;
                margin-bottom: -6px;
                border: 1px solid rgb(66, 66, 66);
                opacity: 1.0;
            }
        }

        .ti-boxes { display: block; }
        .ti-ann-content { display: none; }
    } /* &.collapsed */
    .ti-boxes { display: none; }
    .ti-ann-content { 
        display: block; 
        width: 250px;
        background: rgb(222, 222, 222);
    }


    &.collapsed.deactive {
        opacity: 0.10;
    }
    &.active.collapsed .box {
        opacity: 1.0;
    }
} /* .ti-ann-item */

.ti-ann-close {
    position: absolute;
    left: 0px;
    border: 0px;
    width: 20px;
    height: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    
    &:hover {
        background-color: rgba(255,255,255, 0.5);
        color: #666;
        cursor: pointer;
    }
}


$ann-pic-height: 50px;
$ann-pic-width: 50px;
.ti-ann-content-picture {
    width: $ann-pic-width;
    height: $ann-pic-height;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    
    div {
        width: $ann-pic-width;
        height: $ann-pic-height;
        min-height: $ann-pic-height;
        display: table-cell;
        vertical-align: middle;

        img {
            margin: 1px;
            max-height: $ann-pic-height;
            max-width: $ann-pic-width;
            vertical-align: middle;
        }
    }    
}

.ti-ann-content-name {
    margin-left: 50px;
    color: black;
    font-weight: bold;
}
.ti-ann-content-text {
    padding: 5px;
    color: black;
    max-height: 200px;
    overflow: auto;
}
.ti-ann-content-link {
    padding: 1px 6px;

    a i { 
            margin-left: 5px;
            opacity: 0.6; 
        }
    a:hover i { opacity: 1; }
}
.ti-ann-content-source {
    color: #666;
    font-style: italic;
}
.ti-ann-content-date {
    color: #666;
}


.ti-boxes {
    border-bottom: 1px solid rgb(66, 66, 66);
    border-right: 1px solid rgb(66, 66, 66);
    cursor: pointer;
}
.ti-ann-content {
    border-left: 20px solid;
    margin-bottom: 1px;
}

/* Boxes COLORS */
$i: 0;
@each $color in rgb(106, 188, 209), rgb(166, 83, 75), rgb(243, 206, 127),
                rgb(93, 132, 118), rgb(202, 111, 71), rgb(167, 110, 161),
                rgb(105, 59, 148), rgb(169, 156, 67) {
    .ti-ann-content-color-#{$i}  { border-color: $color; }
    .box.color-#{$i}             { background-color: $color; }
    .ti-people-color.color-#{$i} { background-color: $color; }
    $i: $i + 1;
}