.stats-facets-container,
.stats-dataTable-container {
    clear: both;
}

.stats-data-table {
    table { 
        table-layout: fixed;
        td {
            overflow: hidden; 
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.superHiddenTab {
    opacity: 0.0;
}

.stats-available-facets-container .stats-available-facets {
    span {
        border: 0px;
        margin-right: 2px;
        &.drag-enter {
            border-left: 80px solid #666;
        }
        &.drag-dragged {
            opacity: 0.75;
        }
    }
    .stats-active-facets,
    .stats-inactive-facets {
        background: $blue_gray;
        padding: 2px;

        &.drag-enter {
            background: $blue_dark;
        }

        ul {
            margin: 0px;
            li {
            display: inline-block;
            padding: 2px;
            }
        }
    }

}


.stats-lay-line {

    .stats-facets-mask {
        height: 310px;
        overflow-y: hidden;
        margin-top: 10px;
        .stats-values-container ul { height: 200px; }
        
    }

}

.stats-lay-side {
    
    .stats-dataTable-container {
        margin-left: 320px;
    }
    .stats-facets-mask {
        position: absolute;
        display: block;
        width: 310px;
        .stats-facets-container {
            display: block;
            width: 310px;
        }
        .stats-facet {
            margin-top: 5px;
            width: 300px;
        }
    }
}


.stats-facet {
    float: left;
    display: inline-block;
    max-width: 400px;
    margin-right: 2px;
    padding: 2px;
    background: $blue_gray;
    box-shadow: 3px 3px 3px #999;
    
    // Overwriting bootstrap a little for the facet top toolbar
    .navbar {
        margin-bottom: 5px;
    }
    .navbar-inner {
        padding-left: 0px;
        padding-right: 0px;
        min-height: 20px;
        .nav>li>a {
            padding: 4px 10px;
        }
    }
    .facet-controls {
        .sort i { display: none; }
        .dropdown-menu.sort-count-desc li.sort-count-desc i { display: inline-block; }
        .dropdown-menu.sort-total-desc li.sort-total-desc i { display: inline-block; }
        .dropdown-menu.sort-value-asc li.sort-value-asc i { display: inline-block; }
    }
    
    .stats-values-container {
        display: inline;
        padding: 0px;
        overflow: auto;
        .filtered>a, 
        .filtered>a:hover, 
        .filtered>a:focus {
            background-color: #faa732;
            color: #000;
        }

        ul {
            min-width: 200px;
            overflow: auto;
            max-height: 200px;
            li {
                margin-bottom: 1px; 
                a {
                    padding: 3px; 
                    cursor: pointer;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}