@import 'http://fonts.googleapis.com/css?family=Lato:400,900';

#askTabContainer .tab-content {
	position: relative;
	top: 50px;
}


#ask-pills {
	width: 100%;
	position: fixed;
	height: 37px;
	padding-top:  5px;
	top: 0px;
	background-color: white;
    z-index: 1000;
}


legend.interactive:hover {
    cursor: pointer;
    color: #FAA732;
}

#askTabContainer {
	font-family: 'Lato', sans-serif;
}

.very-hidden { display: none; }

div.accordion-heading {
    background-color: #eee;
}