@import 'http://fonts.googleapis.com/css?family=Lato:400,900';
/* @override 
	http://localhost/ask-dojo/css/ask.css */
@font-face {
  font-family: "Rockwell";
  src: url("Rockwell.otf"); }

/*
body, html {
	font-family: 'Rockwell', 'verdana', sans-serif;
}
*/
/* line 17, ask.scss */
#ask_container {
  font-family: 'Rockwell'; }

/* line 21, ask.scss */
#askTabContainer .tab-content {
  position: relative;
  top: 50px; }

/* line 27, ask.scss */
#ask-pills {
  width: 100%;
  position: fixed;
  height: 37px;
  padding-top: 5px;
  top: 0px;
  background-color: white;
  z-index: 1000; }

/* line 38, ask.scss */
legend.interactive:hover {
  cursor: pointer;
  color: #FAA732; }

/* line 43, ask.scss */
#askTabContainer {
  /* font-family: 'Lato', sans-serif; */ }

/* line 47, ask.scss */
.very-hidden {
  display: none; }

/* line 49, ask.scss */
div.accordion-heading {
  background-color: #eee; }

/* line 53, ask.scss */
.ti-progress-container {
  padding: 20px 90px; }

/* line 56, ask.scss */
.progress-percentage {
  display: block;
  margin: 10px;
  color: white;
  text-align: center; }
  /* line 61, ask.scss */
  .progress-percentage .progress {
    margin-top: 20px; }

/* line 67, ask.scss */
.timeline-pane {
  background-color: #424242; }
  /* line 70, ask.scss */
  .timeline-pane h1 {
    color: white;
    padding: 6px 10px;
    font-weight: normal; }
  /* line 76, ask.scss */
  .timeline-pane a.ti-credits {
    text-decoration: none;
    -webkit-transition: background-color 0.6s;
    display: inline;
    color: #444;
    background-color: #999;
    position: absolute;
    width: 70px;
    margin-left: 790px;
    height: 22px;
    text-align: center;
    line-height: 22px; }
    /* line 88, ask.scss */
    .timeline-pane a.ti-credits:hover {
      color: black;
      background-color: #ccc; }

/* PEOPLE COLUMN */
/* line 98, ask.scss */
.ti-people-title,
.ti-tags .ti-title span,
.ti-timeline-title {
  font-size: 1.5em;
  color: white; }

/* line 106, ask.scss */
.ti-people-picture {
  width: 50px;
  height: 40px;
  text-align: center; }
  /* line 111, ask.scss */
  .ti-people-picture div {
    width: 50px;
    height: 40px;
    min-height: 40px;
    display: table-cell;
    vertical-align: middle; }
    /* line 119, ask.scss */
    .ti-people-picture div img {
      max-height: 40px;
      max-width: 50px;
      vertical-align: middle; }

/* line 127, ask.scss */
.ti-people {
  width: 180px; }
  /* line 129, ask.scss */
  .ti-people li {
    display: block;
    height: 40px;
    margin-bottom: 4px; }
  /* line 134, ask.scss */
  .ti-people li > div {
    float: left;
    height: 40px;
    border: 0px; }
  /* line 139, ask.scss */
  .ti-people .ti-people-title {
    height: 30px; }
  /* line 142, ask.scss */
  .ti-people ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }

/* line 149, ask.scss */
.ti-people-color {
  width: 10px; }

/* line 153, ask.scss */
.ti-people-item {
  cursor: pointer;
  -webkit-transition: background-color 0.6s;
  background-color: #979797; }
  /* line 158, ask.scss */
  .ti-people-item.active {
    background-color: #dedede; }

/* line 163, ask.scss */
.ti-people-name {
  width: 115px;
  font-size: 1.1em; }
  /* line 167, ask.scss */
  .ti-people-name p {
    padding: 1px 5px; }

/* TIMELINE */
/* line 174, ask.scss */
.ti-timeline {
  margin-left: 260px;
  height: 290px;
  width: 600px; }

/* line 180, ask.scss */
.ti-timeline-title {
  height: 25px; }

/* line 183, ask.scss */
.ti-title-name {
  display: inline;
  float: left; }

/* line 187, ask.scss */
.ti-timeline-title ul {
  list-style: none;
  float: right; }

/* line 191, ask.scss */
.ti-timeline-title ul li {
  display: inline;
  color: #aaa; }

/* line 195, ask.scss */
.ti-timeline-title ul li.selected {
  color: white; }

/* line 199, ask.scss */
.ti-left-col {
  width: 250px;
  display: block;
  float: left; }

/* TAGS */
/* line 208, ask.scss */
.ti-tags {
  margin-top: 15px; }
  /* line 211, ask.scss */
  .ti-tags .ti-tag {
    cursor: pointer; }

/* line 216, ask.scss */
a.ti-reset-button {
  position: absolute;
  margin-left: 209px;
  margin-top: -6px;
  width: 40px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  /*	float: right; */
  padding: 0px 5px;
  color: #aaa;
  display: none; }
  /* line 231, ask.scss */
  a.ti-reset-button.active {
    -webkit-transition: background-color 0.6s;
    display: inline;
    color: #444;
    background-color: #aaa; }
    /* line 237, ask.scss */
    a.ti-reset-button.active:hover {
      color: white;
      cursor: pointer;
      text-decoration: none; }

/* line 247, ask.scss */
.ti-title {
  display: block; }

/* line 250, ask.scss */
.ti-tag {
  display: inline-block;
  padding: 1px 7px;
  margin: 3px;
  color: black;
  -webkit-transition: background-color 0.6s;
  background-color: #979797; }
  /* line 258, ask.scss */
  .ti-tag.active {
    background-color: white; }

/* line 263, ask.scss */
.ti-annotations .slot, .ti-left-col {
  -webkit-transition: opacity 2s;
  opacity: 1.0; }
  /* line 266, ask.scss */
  .ti-annotations .slot.ti-invisible, .ti-left-col.ti-invisible {
    opacity: 0; }

/* ANNOTATIONS */
/* line 273, ask.scss */
.ti-annotations {
  margin-left: 260px;
  height: 400px; }
  /* line 277, ask.scss */
  .ti-annotations .slots-header {
    width: 600px;
    margin-top: -6px; }
    /* line 281, ask.scss */
    .ti-annotations .slots-header table {
      width: 600px;
      text-align: center;
      color: #dedede;
      font-size: 0.9em;
      margin-bottom: 1px;
      font-decoration: italic; }
      /* line 289, ask.scss */
      .ti-annotations .slots-header table td.ti-month-0 {
        background-color: rgba(255, 255, 255, 0.1);
        border-right: 1px solid #424242; }
      /* line 293, ask.scss */
      .ti-annotations .slots-header table td.ti-month-1 {
        background-color: rgba(255, 255, 255, 0.15);
        border-left: 1px solid #424242; }

/* line 303, ask.scss */
.ti-annotations .slot {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px; }

/* line 309, ask.scss */
.ti-annotations .slot-1 {
  margin-left: 20px; }

/* line 310, ask.scss */
.ti-annotations .slot-2 {
  margin-left: 40px; }

/* line 311, ask.scss */
.ti-annotations .slot-3 {
  margin-left: 60px; }

/* line 312, ask.scss */
.ti-annotations .slot-4 {
  margin-left: 80px; }

/* line 313, ask.scss */
.ti-annotations .slot-5 {
  margin-left: 100px; }

/* line 314, ask.scss */
.ti-annotations .slot-6 {
  margin-left: 120px; }

/* line 315, ask.scss */
.ti-annotations .slot-7 {
  margin-left: 140px; }

/* line 316, ask.scss */
.ti-annotations .slot-8 {
  margin-left: 160px; }

/* line 317, ask.scss */
.ti-annotations .slot-9 {
  margin-left: 180px; }

/* line 318, ask.scss */
.ti-annotations .slot-10 {
  margin-left: 200px; }

/* line 319, ask.scss */
.ti-annotations .slot-11 {
  margin-left: 220px; }

/* line 320, ask.scss */
.ti-annotations .slot-12 {
  margin-left: 240px; }

/* line 321, ask.scss */
.ti-annotations .slot-13 {
  margin-left: 260px; }

/* line 322, ask.scss */
.ti-annotations .slot-14 {
  margin-left: 280px; }

/* line 323, ask.scss */
.ti-annotations .slot-15 {
  margin-left: 300px; }

/* line 324, ask.scss */
.ti-annotations .slot-16 {
  margin-left: 320px; }

/* line 325, ask.scss */
.ti-annotations .slot-17 {
  margin-left: 340px; }

/* line 326, ask.scss */
.ti-annotations .slot-18 {
  margin-left: 360px; }

/* line 327, ask.scss */
.ti-annotations .slot-19 {
  margin-left: 380px; }

/* line 328, ask.scss */
.ti-annotations .slot-20 {
  margin-left: 400px; }

/* line 329, ask.scss */
.ti-annotations .slot-21 {
  margin-left: 420px; }

/* line 330, ask.scss */
.ti-annotations .slot-22 {
  margin-left: 440px; }

/* line 331, ask.scss */
.ti-annotations .slot-23 {
  margin-left: 460px; }

/* line 332, ask.scss */
.ti-annotations .slot-24 {
  margin-left: 480px; }

/* line 333, ask.scss */
.ti-annotations .slot-25 {
  margin-left: 500px; }

/* line 334, ask.scss */
.ti-annotations .slot-26 {
  margin-left: 520px; }

/* line 335, ask.scss */
.ti-annotations .slot-27 {
  margin-left: 540px; }

/* line 336, ask.scss */
.ti-annotations .slot-28 {
  margin-left: 560px; }

/* line 337, ask.scss */
.ti-annotations .slot-29 {
  margin-left: 580px; }

/* line 338, ask.scss */
.ti-annotations .slot-30 {
  margin-left: 600px; }

/* line 341, ask.scss */
.ti-ann-item {
  -webkit-transition: opacity 0.6s;
  z-index: 10;
  position: relative;
  /* &.collapsed */ }
  /* line 346, ask.scss */
  .ti-ann-item.collapsed {
    width: 20px;
    z-index: 0; }
    /* line 350, ask.scss */
    .ti-ann-item.collapsed:hover {
      z-index: 1000; }
    /* line 353, ask.scss */
    .ti-ann-item.collapsed .box {
      display: block;
      width: 19px;
      height: 19px; }
      /* line 357, ask.scss */
      .ti-ann-item.collapsed .box:hover {
        -webkit-transition: width 0.3s, height 0.3s, margin 0.3s, border 0.3s;
        z-index: 1000;
        width: 29px;
        height: 29px;
        margin-left: -6px;
        margin-right: -3px;
        margin-top: -6px;
        margin-bottom: -6px;
        border: 1px solid #424242;
        opacity: 1.0; }
    /* line 376, ask.scss */
    .ti-ann-item.collapsed .ti-boxes {
      display: block; }
    /* line 377, ask.scss */
    .ti-ann-item.collapsed .ti-ann-content {
      display: none; }
  /* line 379, ask.scss */
  .ti-ann-item .ti-boxes {
    display: none; }
  /* line 380, ask.scss */
  .ti-ann-item .ti-ann-content {
    display: block;
    width: 250px;
    background: #dedede; }
  /* line 387, ask.scss */
  .ti-ann-item.collapsed.deactive {
    opacity: 0.10; }
  /* line 390, ask.scss */
  .ti-ann-item.active.collapsed .box {
    opacity: 1.0; }

/* .ti-ann-item */
/* line 395, ask.scss */
.ti-ann-close {
  position: absolute;
  left: 0px;
  border: 0px;
  width: 20px;
  height: 20px;
  color: white;
  font-weight: bold;
  text-align: center; }
  /* line 405, ask.scss */
  .ti-ann-close:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #666;
    cursor: pointer; }

/* line 415, ask.scss */
.ti-ann-content-picture {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center; }
  /* line 423, ask.scss */
  .ti-ann-content-picture div {
    width: 50px;
    height: 50px;
    min-height: 50px;
    display: table-cell;
    vertical-align: middle; }
    /* line 430, ask.scss */
    .ti-ann-content-picture div img {
      margin: 1px;
      max-height: 50px;
      max-width: 50px;
      vertical-align: middle; }

/* line 439, ask.scss */
.ti-ann-content-name {
  margin-left: 50px;
  color: black;
  font-weight: bold; }

/* line 444, ask.scss */
.ti-ann-content-text {
  padding: 5px;
  color: black;
  max-height: 200px;
  overflow: auto; }

/* line 450, ask.scss */
.ti-ann-content-link {
  padding: 1px 6px; }
  /* line 453, ask.scss */
  .ti-ann-content-link a i {
    margin-left: 5px;
    opacity: 0.6; }
  /* line 457, ask.scss */
  .ti-ann-content-link a:hover i {
    opacity: 1; }

/* line 459, ask.scss */
.ti-ann-content-source {
  color: #666;
  font-style: italic; }

/* line 463, ask.scss */
.ti-ann-content-date {
  color: #666; }

/* line 468, ask.scss */
.ti-boxes {
  border-bottom: 1px solid #424242;
  border-right: 1px solid #424242;
  cursor: pointer; }

/* line 473, ask.scss */
.ti-ann-content {
  border-left: 20px solid;
  margin-bottom: 1px; }

/* Boxes COLORS */
/* line 479, ask.scss */
.ti-ann-content.color-0 {
  border-color: #6abcd1; }

/* line 480, ask.scss */
.box.color-0 {
  background-color: #6abcd1; }

/* line 481, ask.scss */
.ti-people-color.color-0 {
  background-color: #6abcd1; }

/* line 483, ask.scss */
.ti-ann-content.color-1 {
  border-color: #a6534b; }

/* line 484, ask.scss */
.box.color-1 {
  background-color: #a6534b; }

/* line 485, ask.scss */
.ti-people-color.color-1 {
  background-color: #a6534b; }

/* line 487, ask.scss */
.ti-ann-content.color-2 {
  border-color: #f3ce7f; }

/* line 488, ask.scss */
.box.color-2 {
  background-color: #f3ce7f; }

/* line 489, ask.scss */
.ti-people-color.color-2 {
  background-color: #f3ce7f; }

/* line 491, ask.scss */
.ti-ann-content.color-3 {
  border-color: #5d8476; }

/* line 492, ask.scss */
.box.color-3 {
  background-color: #5d8476; }

/* line 493, ask.scss */
.ti-people-color.color-3 {
  background-color: #5d8476; }

/* line 495, ask.scss */
.ti-ann-content.color-4 {
  border-color: #ca6f47; }

/* line 496, ask.scss */
.box.color-4 {
  background-color: #ca6f47; }

/* line 497, ask.scss */
.ti-people-color.color-4 {
  background-color: #ca6f47; }

/* line 500, ask.scss */
.ti-ann-content.color-5 {
  border-color: #a76ea1; }

/* line 501, ask.scss */
.box.color-5 {
  background-color: #a76ea1; }

/* line 502, ask.scss */
.ti-people-color.color-5 {
  background-color: #a76ea1; }

/* line 504, ask.scss */
.ti-ann-content.color-6 {
  border-color: #a99c43; }

/* line 505, ask.scss */
.box.color-6 {
  background-color: #a99c43; }

/* line 506, ask.scss */
.ti-people-color.color-6 {
  background-color: #a99c43; }

/* line 508, ask.scss */
.ti-ann-content.color-7 {
  border-color: #693b94; }

/* line 509, ask.scss */
.box.color-7 {
  background-color: #693b94; }

/* line 510, ask.scss */
.ti-people-color.color-7 {
  background-color: #693b94; }
