@import 'http://fonts.googleapis.com/css?family=Lato:400,900';

@font-face {
    font-family: "Rockwell";
    src: url("Rockwell.otf");
}

#ask_container {
    font-family: 'Rockwell';
}

#askTabContainer .tab-content {
    position: relative;
    top: 50px;
}

#ask-pills {
    width: 100%;
    position: fixed;
    height: 37px;
    padding-top:  5px;
    top: 0px;
    background-color: white;
    z-index: 1000;
}

legend.interactive:hover {
    cursor: pointer;
    color: #FAA732;
}

.very-hidden { display: none; }

div.accordion-group {

    .accordion-heading {
        background-color: #eee;
    }

    img {
        border: 1px solid black;
        max-width: 100px;
        max-height: 100px;
        float: left;
        margin-right: 20px;
    }

    a i { 
        margin-left: 5px;
        opacity: 0.6; 
    }
    a:hover i { opacity: 1; }

}

@import "ask_timeline";
@import "my_ask";
/* TODO: move this in pundit.scss? */
@import "pundit_login_modal";