/* @import 'http://fonts.googleapis.com/css?family=Lato:400,900'; */

@import 'http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300';

$blue_dark: #2a697a;
$blue_light: #51a0b5;

#ask_container {
    font-family: 'Roboto';
    h1,h2,h3,h4,h5,h6 { color: $blue_dark; };
}

#askTabContainer .tab-content {
    position: relative;
    top: 50px;
    padding: 0px 20px;
}

#ask-pills {
    width: 100%;
    position: fixed;
    height: 37px;
    padding-top:  5px;
    top: 0px;
    background-color: white;
    z-index: 1000;
}

legend.interactive:hover {
    cursor: pointer;
    color: #FAA732;
}

.very-hidden { display: none; }

img.small {
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
}

div.accordion-group {

    .accordion-heading {
        background-color: #eee;
    }

    a i { 
        margin-left: 5px;
        opacity: 0.6; 
    }
    a:hover i { opacity: 1; }

}

div.nb-item {
    height: 180px;
}

.obj-literal {
    img, h4, a.more-info { display: none; }
    div { text-align: justify; }
}


@import "ask_timeline";
@import "my_ask";
/* TODO: move this in pundit.scss? */
@import "pundit_login_modal";