/* @import 'http://fonts.googleapis.com/css?family=Lato:400,900'; */

@import 'http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300';
@import 'http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700';

$blue_dark: #2a697a;
$blue_light: #51a0b5;
$blue_gray: #d8e5e8;

#ask_container {
    font-family: 'Roboto';
    h1,h2,h3,h4,h5,h6 { 
        font-family: 'Roboto Condensed';
        color: $blue_dark; 
    };
}

#askTabContainer .tab-content {
    position: relative;
    top: 50px;
    padding: 0px 20px;
}

#ask-pills {
    width: 100%;
    position: fixed;
    height: 37px;
    padding-top:  5px;
    top: 0px;
    background-color: white;
    z-index: 1000;
}

legend.interactive:hover {
    cursor: pointer;
    color: #FAA732;
}

.very-hidden { display: none; }

img.small {
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
}

div.accordion-group {

    .accordion-heading {
        background-color: #eee;
    }

    a i { 
        margin-left: 5px;
        opacity: 0.6; 
    }
    a:hover i { opacity: 1; }

}

div.nb-item {
    height: 180px;
}


.obj-literal {
    img, h4, a.more-info { display: none; }
    div { text-align: justify; }
}
.media.obj {
    margin-left: 20px;
}

// Annotation centric annotation view
.askACAnn {
    &.well { border: 1px solid $blue_light; }
    h4 { margin-top: 0px; }
    .header {
        margin: -20px -20px -16px -20px;
        background-color: $blue_light;
        color: white;
        border-radius: 6px 6px 0px 0px;
        padding: 2px 5px;
    }
    img { 
        -webkit-transition-property: height, maxHeight;
        -webkit-transition-duration: 1s, 1s;
    }
    .desc {
        -webkit-transition-property: height, maxHeight;
        -webkit-transition-duration: 1s, 1s;
        font-style: italic;
        /*   -moz-transition-property: margin-top, background-position-y, margin-right, scroll-top, scrollTop;
            -moz-transition-duration: 1s, 1s, 1s, 1s;
        */  
    }
    .footer { 
        margin-top: 5px; 
    }

    .subject-container {
        border-bottom: 1px dashed $blue_dark;
        padding-top: 5px;
        margin-top: 15px;
        &:nth-child(1) { border-top: 0px; };
    }
    .pre {
        background-color: white;
    }

    
    .meta span { display: none; }
    
    .sub-textfragment {
        img { display: none; }
        .desc { 
            text-align: justify;
            background-color: $blue_gray;
            max-height: 100px;
            overflow-y: auto;
            padding: 2px 5px;
        }
        .meta {
            .part-of { display: block; }
            .types { display: block; }
        }
    }
    
    .obj-default {
        img { height: 150px; margin-top: 30px;}
        .desc { 
            text-align: justify;
            max-height: 100px;
            overflow-y: auto;
        }
        .meta {
            .more-info { display: block; }
            .types { display: block; }
        }
    }
    

    // collapsed annotation: smaller desc, no more info links, no footer
    &.collapsed {
        img { max-height: 75px; margin: 1px 0px 2px 4px;}
        div.desc { max-height: 42px; overflow: hidden; }
        .meta span { display: none !important; }
        .media.obj { margin-left: 0px; border: 0px solid blue;}
        div.footer .created-at { display: none; }
        .pre>h4 { width: 100px; float: left; border: 0px solid black;}
        .pre-objects { width: 280px; float: right; margin: 0px; }

        // 1st triple: show it as it is
        // 2nd triple: show just first object
        // hide the rest
        .subject-container { display: none; }
        .subject-container:nth-child(1) { 
            display: block; 
            .sub div.desc { max-height: 58px; }
        }
        .subject-container:nth-child(2) {
            display: block;
            .pre { display: none; }
            .pre:nth-child(1) { display: block; }
        }
        
        .summary { display: block; }
        
    }
}



@import "ask_timeline";
@import "my_ask";
/* TODO: move this in pundit.scss? */
@import "pundit_login_modal";